streamlit==1.37.1
faster-whisper==1.0.3
requests==2.32.3
moviepy==1.0.3

# фиксы зависимостей Streamlit
rich==13.7.1
markdown-it-py==3.0.0
mdurl==0.1.2
Pygments==2.19.1

# чтобы whisper не умер
numpy>=1.26,<2

# служебные
pip>=24
setuptools>=70
wheel
